<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.ninugo.mapper.UserMapper">
    <insert id="insertUser">
        insert into user (nickname, login_id, password, email, user_state, role, created_at)
                values (#{nickname}, #{loginId}, #{password}, #{email}, #{userState}, #{role}, NOW())
    </insert>
    <select id="findUserById" resultType="UserDTO">
        select *
        from user
        where login_id = #{loginId}
    </select>
    <update id="deleteUserById">
        update user
        set user_state = 1
        where id = #{userId}
    </update>
    <update id="updateUser">
        update user
        set nickname = #{nickname}, password = #{password}
        where id = #{id}
    </update>
    <insert id="inserQueue">
        insert into queue (user_id, matching_state, start_time, matched_time)
                values (#{userId}, #{queueState}, NOW(), null)
    </insert>
</mapper>