<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.ninugo.mapper.UserMapper">
    <insert id="insertUser">
        insert into user (nickname, login_id, password, email, user_state, role, created_at)
                values (#{nickname}, #{loginId}, #{password}, #{email}, #{userState}, #{role}, NOW())
    </insert>
    <select id="findUserById" resultType="UserDTO">
        select *
        from user
        where id = #{userId}
    </select>
    <update id="deleteUserById">
        update user
        set user_state = 1
        where id = #{userId}
    </update>
    <update id="updateUser">
        update user
        set nickname = #{nickname}, password = #{password}
        where id = #{id}
    </update>
    <insert id="inserQueue">
        insert into queue (user_id, matching_state, start_time, matched_time)
                values (#{userId}, #{queueState}, NOW(), null)
    </insert>
    <update id="matchedQueue">
        UPDATE queue
        SET matching_state = 2,
            matched_time   = NOW()
        WHERE id IN (SELECT id
                     FROM (SELECT id
                           FROM queue
                           ORDER BY id LIMIT 2) AS subquery)
    </update>
    <delete id="deleteQueue">
        delete
        from queue
        where id IN (SELECT id
                     FROM (SELECT id
                           FROM queue
                           ORDER BY id LIMIT 2) AS subquery)
          AND matching_state = 2
    </delete>
    <insert id="createChat">
        insert into chatting_room (user1_id, user1_state, user2_id, user2_state, matching_time, last_chat)
                values (#{user1Id}, #{user1State}, #{user2Id}, #{user2State}, NOW(), null)
    </insert>
    <insert id="updateLastChat">
        update chatting_room
        set last_chat_id = lastChatId
        where id lastChatId = (select max(id) from messages where chat_id = #{chatId})
    </insert>
</mapper>